<% layout('layout/boiler') %>

<body>
    <div class="row mt-3"><div class="col-8 offset-2">
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-2 ">
        <label for="title" class="form-label">Title</label>
        <input class="form-control" name="listing[title]" type="text" value="<%= listing.title %>"  required>
        <div class="invalid-feedback">Please Enter A Title</div>

        </div>
         <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="listing[description]" required><%=listing.description%></textarea>
        <div class="invalid-feedback">Please Enter A Short Description</div>
        </div>

         <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input type="number"class="form-control" name="listing[price]" value="<%= listing.price %>" required>
        <div class="invalid-feedback">Please Enter Price</div>
        </div>
        <div>
            Previous Image:<br>
            <img src="<%=ImgURL%>" alt="IMG">
        </div>


        <div class="mb-2">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" class="form-control" name="listing[image]" >
        </div>

        <div class="row">
         <div class="mb-2 col-md-4">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control"  name="listing[location]" value="<%= listing.location %>" required>
        <div class="invalid-feedback">Please Enter Location</div>
        </div>

         <div class="mb-2 col-md-6">
        <label for="country" class="form-label">Country</label>
        <input class="form-control" type="text" name="listing[country]" value="<%= listing.country %>" required>
        <div class="invalid-feedback">Please Enter A Country</div>
        </div>
        </div>
        <button class="btn add-btn btn-success mb-3 mt-3">Submit</button>
    </form>
    </div></div>
</body>
